.project {
    padding: 140px 80px;
    background-color: #111111;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project p {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
    /* font-weight: 400; */
}

.project h1 {
    font-size: 65px;
    color: white;
    font-weight: 400;

}

.cardContainer {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

@media (max-width:992px) {
    
.project{
    padding: 140px 40px;
}
}
@media (max-width:768px) {
    
.project{
    padding: 140px 20px;
}
.project h1 {
    font-size: 50px;

}
}
@media (max-width:640px) {
    
.project{
    padding: 140px 20px;
}
.project h1 {
    font-size: 40px;

}
}